.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  background: #f6f8fc;
  position: relative;
  font-family: "Google Sans", "Roboto", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.header-left {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: 15px;
}

.logo {
  margin-left: 0.5rem;
}

.logoSmall {
  scale: 0.7;
  display: none;
}

.header-left span:hover {
  background: #dddddd;
}

.header-middle {
  display: flex;
  flex: 0.55;
  align-items: center;
  padding: 10px;
  border-radius: 0.75rem;
  background-color: #eaf1fb;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  transition: background-color 0.3s ease;
}

@media (max-width: 550px) {
  .header-middle {
    flex: 0.8;
  }
}


.header-middle .openFilter {
  border: none;
  background: none;
  position: absolute;
  right: 2%;
}

.material-icons {
  color: gray;
}

.header-middle span {
  color: #444746;
  cursor: pointer;
}

.header-middle input {
  border: none;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  outline: none;
  font-size: medium;
  background-color: #eaf1fb;
  padding-right: 7%;
  transition: background-color 0.3s ease;
}

.header-middle input:focus {
  background-color: white;
}

.header-middle:focus-within {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header-left span {
  padding: 5px 5px;
  border-radius: 20px;
  padding: 5px 5px;
}

.header-left button:focus {
  background: #dddddd;
}

.header-left button {
  display: block;
  height: 100px;
}

.profileIcon {
  color: rgb(26, 115, 232);
  scale: 1.4;
  transition: color 0.2s ease;
}

.profileIcon:hover {
  color: rgb(22, 103, 208);
}

.header-right {
  /* background-color: purple; */
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 1rem;
}

.help {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  cursor: pointer;
}

.creator {
  position: absolute;
  background-color: red;
  top: 95%;
  right: 80%;
  z-index: 501;
  font-size: small;
  white-space: nowrap;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: none;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.753);
  display: flex;
  flex-direction: column;
  color: white;
  display: none;
}

.help:hover .creator {
  display: block;
}

.creator p {
  margin: 0.15rem 0;
  padding: 0.1rem 0.25rem;
  color: white;
  cursor: text;
  user-select: text;
  width: min-content;
  font-weight: 550;
  cursor: default;
}

.creator :nth-child(2),
.creator :nth-child(3) {
  color: #d7d7d7;
}

.creator :nth-child(2):hover,
.creator :nth-child(3):hover {
  text-decoration: underline;
  cursor: pointer;
}
.creator :nth-child(3):hover {
  cursor: text;
}

.help span {
  scale: 0.9;
  color: rgb(88, 88, 88);
}

.userIcon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 0.5rem;
  cursor: pointer;
}

.settingsIcon {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(201, 201, 201);
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
}

.settingsIcon:hover,
.help:hover {
  background-color: rgba(228, 228, 228, 0.7);
  border: 1px solid rgb(218, 218, 218);
}

.accountSettings {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.748);
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 10%;
  z-index: 501;
  font-size: smaller;
  white-space: nowrap;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: none;
  cursor: default;
}

.userIcon:hover .accountSettings {
  display: block;
}

.accountSettings p {
  margin: 0.25rem 0;
  padding: 0 0.25rem;
  color: white;
  cursor: text;
  user-select: text;
  width: min-content;
  font-weight: 550;
}

.accountSettings :nth-child(2),
.accountSettings :nth-child(3) {
  color: #b7b7b7;
}

.accountSettings :nth-child(3):hover {
  text-decoration: underline;
}

.optionToggled {
  background-color: rgba(228, 228, 228, 0.7);
  border: 1px solid rgb(218, 218, 218);
}

@media (max-width: 550px) {
  .accountSettings {
    scale: 0.8;
    right: 0;
  }

  .logo {
    display: none;
  }
  .logoSmall {
    display: block;
  }
}
