.main {
    /* background-color: hsla(0,0%,100%,.5); */
    background-color: red;
    width: 100%;
    width: 100%;
}

.box {
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  border-radius: 2.5%;
}


.mailList {
  width: 97%;
}