
.attachment_div {
   height: 27px;
   background: #e1ecfc;
   width: 80%;
   margin-top: 10px;
   margin-left: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.attachment_div p {
  margin-left: 10px;
  font-weight: 550;
  font-size: 14px;
  color: #2d56cc;

}

.attachment_div p span {
    color: #444746;
}

.close_icon {
  scale: 0.8;
  font-weight: 600;
  color: rgb(187, 187, 187);
  cursor: pointer;
  border-radius: 20%;
}

.close_icon:hover {
  background-color: rgb(222, 218, 218);
  color: rgb(136, 135, 135);
  border: 1px solid rgb(200, 200, 200);
}

.loadingBar {
  /* background-color: red; */
  height: 100%;
  width: 40%;
}
