.emailList_sections {
    position: sticky;
    top: 0;
    display: flex;
    background: white;
    z-index: 100;
}

.section {
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0;
}

.section_selected {
    background-color: white;
    border-width: 3px;
    color: #2f58d0;
    border-bottom: 3px solid #2f58d0;
}

.section_selected .material-icons {
    color: #2f58d0;
}

.section:hover {
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4 {
    font-size: 14px;
    margin-left: 15px;
}