.emailList-settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  z-index: 500;
  padding: 8px;
  user-select: none;
  position: relative;
}

.selectAll_div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 3rem;
  border: 1px solid white;
}

.selectAll_div:first-child {
  margin-left: 1rem;
}

.selectAll_div > * {
  scale: 0.8;
}

.selectAll_div :nth-child(1) {
  border-right: 1px solid white;
  margin-right: -30%;
}

.settings-left span {
  padding: 5px 5px;
  color: #4b4e4d;
  cursor: pointer;
  border: 1px solid white;
}

.selectAll_div:hover .selectAll_div span {
  background-color: rgba(228, 228, 228, 0.7);
}

.settings-left span:hover {
  background-color: rgba(228, 228, 228, 0.7);
  border-radius: 50%;
  border: 1px solid rgb(218, 218, 218);
}

.optionsToggled {
  background-color: rgba(228, 228, 228, 0.7);
  border-radius: 50%;
  border: 1px solid rgb(218, 218, 218) !important;
}

.settings-left :nth-child(2),
.settings-left :nth-child(3),
.settings-left :nth-child(4),
.settings-left :last-child {
  scale: 0.9;
}

.dropDown {
  margin-left: 0.25rem;
}

.settings-left input {
  cursor: pointer;
  background-color: red;
}

.settings-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.settings-left button {
  border: none;
  background: none;
}

.deleteForever {
  height: 70%;
  padding: 0 7px;
  margin-top: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.deleteForever:hover {
  background-color: rgba(228, 228, 228, 0.7);
}

.settings-left .refresh {
  position: relative;
}
.settings-left .refresh:hover .refreshP {
  display: block;
}
.settings-left .refresh .refreshP {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.76);
  padding: 5px 5px;
  border-radius: 5px;
  scale: 0.8;
  right: -40%;
  color: #e0e0e0;
  display: none;
  margin-top: 5px;
}

.settings-left .moveToInbox {
  position: relative;
}

.settings-left .moveToInboxP {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.76);
  padding: 5px 5px;
  border-radius: 5px;
  right: -130%;
  scale: 0.7;
  width: 8rem;
  margin-top: 5px;
  color: #e0e0e0;
  display: none;
}

.settings-left .moveToInbox:hover .moveToInboxP {
  display: block;
  display: flex;
  justify-content: center;
}

.settings-left .moveToInboxP:hover, .settings-left .refresh .refreshP:hover {
  display: none !important;
}

.deleteForever p {
  font-size: smaller;
  color: #121212;
  font-weight: 600;
}

.moveTo {
  position: relative;
}