.box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.box span {
       margin: 0 0.5rem;
    scale: 0.9;
    color: rgb(137, 137, 137);
}

.box p {
     color: rgb(41, 41, 41)
}