
.attachment_div {
   height: auto;
   background: #e1ecfc;
   width: 80%;
   margin-top: 10px;
   margin-left: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.attachment_div p {
  margin: 0  auto;
  margin-left: 10px;
  font-weight: 550;
  font-size: 14px;
  color: #2d56cc;
  text-overflow: ellipsis;

}

.attachment_div p span {
    color: #444746;
}

.close_icon {
  scale: 0.8;
  font-weight: 600;
  color: #121212;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;

}

.close_icon:hover {
  background-color: rgb(233, 243, 247);
  border: 1px solid rgb(200, 200, 200);
}

.loadingBar {
  height: 100%;
  width: 40%;
}
