.container {
  margin-top: 0.5rem;
  width: 100%;
  height: 2rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.container .leftSegment {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  width: auto;
  /* background-color: rgb(181, 241, 181); */
}

.container .rightSegment {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.container .leftSegment .line {
  width: 1px;
  height: 60%;
  align-self: center;
  background-color:#dde8fa;
}

.container .leftSegment .icon {
  border-radius: 50%;
  padding: 0.2rem 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 0.25rem;
  user-select: none;
}

.container .leftSegment .icon2 {
  border-radius: 3px; 
  padding: 0.2rem 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0.25rem;
  font-size: small;
  font-weight: 450;
  color: #5F6368;
  user-select: none;
  transition: background-color 150ms ease-out;
}

.container .leftSegment .icon2:hover {
  background-color:  #dde8fa;
}

.container .leftSegment :nth-child(1) span {
  margin-top: 8px;
}

.container .leftSegment .icon:hover {
   background-color: rgba(228, 228, 228, 0.7);
  border: 1px solid rgb(218, 218, 218);
}

.back {
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.back span {
  margin-bottom: 4px;
  font-variation-settings: "wght" 450 !important;
}

.container .leftSegment .icon span {
  font-weight: 500;
  font-variation-settings: "wght" 400 ; 
}

.container .leftSegment .icon > *,
.container .rightSegment .icon > * {
  scale: 0.8;
  color: #444548;
}

.container .rightSegment .icon > * {
  scale: 0.6;
  cursor: pointer;
  padding: 0.25rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .rightSegment .icon:hover {
  background-color: #dfdfdf;
  border-radius: 20px;
}

.container .rightSegment p {
  font-size: small;
}
